@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root{
  --white:rgb(239, 231, 231);
  --orange:rgb(255, 136, 0);
  --stylish:"Space Grotesk", sans-serif;
}
*{
  font-family: 'Poppins';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typed Cursor styling */
 .typed-cursor{
   font-weight: 600;
  font-size: 50px;
  height: 20%;
  color: #4c0000;
  animation: blink 0.9s infinite;
}


.nav-section{
  position: fixed;
  margin: 0;
  padding: 0.3rem 10rem;
  width:100%;
   nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .logo{
       img{
        width: 50%;
       }
    }
     .nav-items{
      color: white;
      display: flex;
      width: 50%;
      justify-content: space-between;
      cursor: pointer;
     }
     .nav-items span:hover{
      color: orange;
      text-shadow: 4px 15px 30px  rgb(255, 146, 4);
     }
     .cv{
      background-color: var(--orange);
      color: var(--white);
      padding: 0.7rem;
      font-weight: 600;
      cursor: pointer;
      height: fit-content;
      border-radius: 20rem;
       
       }
       .cv:hover{
        background-color: rgb(2, 22, 22);
        color: orange;
     }
   }
}

.hero-section{
  padding: 5rem 3rem;
  background-image: url('./assets/slide/2.jpg');
  height: 100vh;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  .text-container{
    color: white;
    font-size: 50px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    width: 100%;
    .mini{
      text-align: left;
      font-family: var(--stylish);
    }
    .description{
      width:80%;
      text-align: left;
      font-size: 20px;
      color: rgb(225, 203, 162);
    }
    i{
      font-size: 24px;
      color: var(--orange);
    }
    span{
      color: orange;
      font-weight: 600;
    }
   
  }
   .img-container{
    margin-top: 2rem;
      width: 30%;
      margin-right: 16.6rem;
      img{
        width: 150%;
        border: solid 2px orange;
        border-radius: 1rem;
        box-shadow: 7px 3px 7px 10px rgba(255, 166, 0, 0.089);
      }
      img:hover{
        transition: 0.3s;
        scale: 1.03;
      }
    }
    button{
      background-color: rgb(216, 210, 201);
      color: rgb(47, 10, 108);
      margin-top: 4rem;
      max-width: 50%;
      font-size: 20px;
      padding: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-weight: 300;
    }
}

.about-section{
  height: 100vh;
}


/* Responsive style */
@media (orientation: portrait) and (max-width: 768px) {
  .nav-section{
    padding: 0.3rem 2rem;
    nav{
      .nav-items{
        width: 100%;
        justify-content: space-around;
      }
      .cv{
        width: 100%;
        text-align: center;
      }
    }
  }
  .hero-section{
    padding: 5rem 1rem;
    flex-direction: column;
    align-items: center;
    .text-container{
      font-size: 30px;
      .description{
        font-size: 15px;
      }
    }
    .img-container{
      width: 50%;
      margin-right: 0;
     
      img{
        width: 100%;
      }
    }
  }
  .typed-cursor{
    font-size: 30px;
  } 
  
}